# Default ignored files
/../../../../../../../../:ts-react/.idea/shelf/
/../../../../../../../../:ts-react/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../:ts-react/.idea/httpRequests/
